.document
    h1 "OverLay"组件Demo
    .buttons
        button.btn.primary.demo#btn_0 执行回调
        button.btn.primary.demo#btn_1 富文本内容
        button.btn.primary.demo#btn_2 编程控制
    div
        - var n = 0;
        ul
            while n < 200
                li= n++ + "\t测试锁定页面滚动"
