doctype html
html(lang="zh-CN")
    head
        title "OverLay"组件Demo
        meta(charset="utf-8")/
        meta(name="viewport"
            content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover")/
        meta(name="format-detection" content="telephone=no")/
        script(src="./setGlobalStyle.js")
        link(rel="stylesheet", href="./index.styl")
    body
        include ./document.pug
        script(src="./index.js")
